<template>
  <v-card min-width="1024px" max-width="100%">
    <v-card-title>Account reset or delete</v-card-title>
    <v-card-text v-if="importing">
      Theses operations cannot be done while an
      <nuxt-link to="/preferences/import">import</nuxt-link> operation is
      running.
    </v-card-text>
    <v-card-text v-else>
      <!-- Display this when no operations are running -->
      <div>
        <div class="font-weight-bold font-italic">
          Warning: theses operations are definitive.
        </div>
        <div class="caption">
          The <em>reset</em> operation will remove all content associated with
          you for a fresh restart.
        </div>
      </div>

      <v-btn
        color="primary"
        :loading="loading"
        :disabled="loading"
        class="ma-10 mx-0"
        @click="confirm('reset', resetAccount)"
      >
        Reset your account
      </v-btn>

      <v-btn
        color="secondary"
        :loading="loading"
        :disabled="loading"
        class="ma-10 mx-0"
        @click="confirm('delete', deleteAccount)"
      >
        Delete your account
      </v-btn>

      <div
        v-if="loading && operationName === 'reset'"
        class="caption font-weight-bold"
      >
        We are currently <em>resetting your account</em>...
      </div>

      <div
        v-if="loading && operationName === 'delete'"
        class="caption font-weight-bold"
      >
        We are currently <em>deleting your account</em> and all its data...
      </div>

      <div v-if="done" class="caption font-weight-bold">
        Operation done successfully.
      </div>
    </v-card-text>
    <confirm-operation-dialog
      :visible="operationModal"
      :operation-name="operationName"
      :operation-handler="operationHandler"
      @close="operationModalClose"
    />
  </v-card>
</template>

<script>
import ConfirmOperationDialog from '../../components/dialogs/ConfirmOperationDialog'
export default {
  components: { ConfirmOperationDialog },
  layout: 'private',
  middleware: ['auth'],
  async asyncData({ $axios }) {
    const { data } = await $axios.get(
      `${process.env.API_URL}/bookmarks/import/me`
    )
    return { importing: data }
  },
  data: () => ({
    loading: false,
    done: false,
    operationModal: false,
    operationName: '',
    operationHandler: null,
  }),
  methods: {
    async resetAccount() {
      this.loading = true
      this.done = false
      try {
        await this.$axios.delete(`${process.env.API_URL}/bookmarks/me`)
      } catch (e) {}
      this.loading = false
      this.done = true
    },
    deleteAccount() {
      this.loading = true
      this.done = false
      this.$axios
        .delete(`${process.env.API_URL}/users/me`)
        .then(async () => {
          await this.$auth.logout()
          this.done = true
        })
        .catch()
        .finally(() => {
          this.loading = false
        })
    },
    confirm(name, operation) {
      this.operationName = name
      this.operationHandler = operation
      this.operationModal = true
    },
    operationModalClose() {
      this.operationModal = false
      this.operationName = ''
      this.operationHandler = null
    },
    async checkImporting() {
      const { data } = await this.$axios.get(
        `${process.env.API_URL}/bookmarks/import/me`
      )
      return data.count
    },
  },
}
</script>
