<template>
  <v-card min-width="1024px" max-width="100%">
    <v-card-title>Bookmark importation</v-card-title>
    <v-card-text>
      <!-- Display this until the operation is done -->
      <v-form v-if="!importData" ref="importForm" @submit.prevent="onUpload()">
        <!-- Display this when no operations are running -->
        <div>
          <div>The following import types are currently supported:</div>
          <ul>
            <li>Browsers (Chrome, IE, Firefox, etc...)</li>
            <li>GetPocket export file</li>
            <li>Instapaper HTML export file</li>
          </ul>
        </div>

        <!-- file importer -->
        <v-file-input
          v-model="file"
          show-size
          chips
          label="Select your File*..."
          accept="text/html,application/json,application/rss+xml"
          :loading="isLoading"
          :rules="[fileRules.required]"
          validate-on-blur
          autofocus
          required
          class="mt-10"
        />

        <!-- Display this during running operation -->
        <div v-if="isLoading" class="caption font-weight-bold">
          Please wait for a few seconds, we are checking your file, it should
          not be long...
        </div>

        <v-btn
          color="primary"
          class="ma-10 mx-0"
          :disabled="isLoading"
          @click="onUpload"
        >
          Import all bookmarks
        </v-btn>
      </v-form>

      <!-- Display this when operation is done properly -->
      <div v-if="importData" class="caption font-weight-bold">
        <v-progress-linear
          class="mb-2"
          indeterminate
          height="15"
          color="primary"
        />

        <p>
          Import operation currently running...
          <br />
          We currently have
          <em>
            {{ importData.count }}
            <small>/{{ importData.total }}</small> bookmarks
          </em>
          left to be imported from
          <em> {{ fromImportation }} </em>.
        </p>
        <p>
          We now need to import those on our system. This process is a bit long,
          so please be patient.
          <br />
          Note: we won't create duplicate.
        </p>
        <p>
          Remaining estimated time: <em>{{ durationInWords }}</em>
        </p>
        <p>
          You can continue using WooMind as you would normally do meanwhile.
        </p>
      </div>
    </v-card-text>
  </v-card>
</template>

<script>
import { formatDistanceToNow } from 'date-fns'
import blurChildren from '../../utils/blurChildren'

export default {
  layout: 'private',
  middleware: ['auth'],
  async asyncData({ $axios }) {
    const { data } = await $axios.get(
      `${process.env.API_URL}/bookmarks/import/me`
    )
    return { importData: data }
  },
  data: () => ({
    fileRules: {
      required: (v) => !!v || 'File is required.',
    },
    file: null,
    isLoading: false,
    refreshInterval: 5000,
    watcher: null,
  }),
  computed: {
    durationInWords() {
      if (this.importData.count) {
        const duration = this.importData.count * 1000
        const endDate = new Date(Date.now() + duration)
        return formatDistanceToNow(endDate)
      }
      return 'unknown'
    },
    fromImportation() {
      switch (this.importData.parser) {
        case 'getpocket':
          return 'a GetPocket file'
        case 'woomind':
          return 'a WooMind file'
        case 'firefox':
          return 'a Firefox json export file'
        case 'instapaper':
          return 'an instapaper HTML export file'
        case 'pinterest':
          return 'a pinterest RSS feed'
        default:
          return 'your favorite browser'
      }
    },
  },
  /**
   * When page loads: start watching any server running import operation.
   */
  async beforeMount() {
    await this.startWatch()
  },
  beforeDestroy() {
    clearInterval(this.watcher)
  },
  methods: {
    async onUpload() {
      blurChildren(this.$refs.importForm)
      if (this.$refs.importForm.validate()) {
        this.isLoading = true

        // Wait for vdom -> dom
        await this.$nextTick()

        const formData = new FormData()
        formData.append('import', this.file, this.file.name)
        try {
          const { data } = await this.$axios.post(
            `${process.env.API_URL}/bookmarks/import/me`,
            formData
          )
          this.importData = data
          this.startWatch()
        } catch (e) {}
        this.$refs.importForm.reset()
        this.isLoading = false
      }
    },
    /**
     * Check if we already have a running operation server side.
     * If no: stop any watcher.
     */
    async isImporting() {
      const { data } = await this.$axios.get(
        `${process.env.API_URL}/bookmarks/import/me`
      )
      this.importData = { ...this.importData, ...data }
      if (!data) {
        clearInterval(this.watcher)
        this.importData = null
      }
      return data
    },
    /**
     * Check server-side if an import process is running.
     */
    async startWatch() {
      // Check right now.
      await this.isImporting()
      // Check continuously every 'watchInterval' ms from now.
      this.watcher = setInterval(
        async function () {
          await this.isImporting()
        }.bind(this),
        this.refreshInterval
      )
    },
  },
}
</script>
