<template>
  <v-card min-width="1024px" max-width="100%">
    <v-card-title>Set your preferences</v-card-title>
    <v-card-text>
      <preferences-menu class="expanded-preferences-list" :expand="true" />
    </v-card-text>
  </v-card>
</template>

<script>
import PreferencesMenu from '../../components/preferences/PreferencesMenu'
export default {
  components: { PreferencesMenu },
  layout: 'private',
  middleware: ['auth']
}
</script>
