<template>
  <div>
    <edit-action :bookmark="bookmark" />
    <remove-action :bookmark="bookmark" />
  </div>
</template>

<script>
import EditAction from '../actions/EditAction'
import RemoveAction from '../actions/RemoveAction'

export default {
  components: {  EditAction, RemoveAction },
  props: {
    bookmark: {
      type: Object,
      required: true
    }
  }
}
</script>
