<template>
  <div>
    <v-btn
      icon
      :color="displayType === 'compact' ? 'grey darken-2' : 'grey lighten-1'"
      class="btn-flag ma-0"
      :disabled="disabled"
      nuxt
      @click.native="setDisplay('compact')"
    >
      <v-icon size="20px" dense>mdi-view-headline</v-icon>
    </v-btn>

    <v-btn
      icon
      :color="displayType === 'list' ? 'grey darken-2' : 'grey lighten-1'"
      class="btn-flag ma-0"
      :disabled="disabled"
      nuxt
      @click.native="setDisplay('list')"
    >
      <v-icon size="20px" dense>mdi-view-list</v-icon>
    </v-btn>

    <v-btn
      icon
      :color="displayType === 'card' ? 'grey darken-2' : 'grey lighten-1'"
      class="btn-flag ma-0"
      :disabled="disabled"
      nuxt
      @click.native="setDisplay('card')"
    >
      <v-icon size="20px" dense>mdi-view-module</v-icon>
    </v-btn>
  </div>
</template>

<script>
export default {
  props: {
    disabled: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      displayType: 'card',
    }
  },
  methods: {
    async setDisplay(mode) {
      await this.$auth.$storage.setUniversal('displayType', mode)
      await this.$router.push({
        path: this.$router.currentRoute.path,
        query: { ...this.$router.currentRoute.query, display: mode },
      })
      this.displayType = mode
    },
  },
  beforeMount() {
    this.displayType =
      this.$router.currentRoute.query.display ||
      this.$auth.$storage.getUniversal('displayType') ||
      'card'
  },
}
</script>
