<template>
  <div>
    <favorite-flag-action :bookmark="bookmark" />
    <read-later-flag-action :bookmark="bookmark" />
    <archive-flag-action :bookmark="bookmark" />
  </div>
</template>

<script>
import FavoriteFlagAction from '../actions/FavoriteFlagAction'
import ReadLaterFlagAction from '../actions/ReadLaterFlagAction'
import ArchiveFlagAction from '../actions/ArchiveFlagAction'

export default {
  components: {
    FavoriteFlagAction,
    ReadLaterFlagAction,
    ArchiveFlagAction
  },
  props: {
    bookmark: {
      type: Object,
      required: true
    }
  }
}
</script>
