<template>
  <v-btn
    fab
    fixed
    right
    bottom
    color="secondary"
    class="btn-flag ma-0"
    :loading="loading"
    @click="create"
  >
    <v-icon>mdi-plus</v-icon>

    <template v-slot:loader>
      <v-progress-circular
        indeterminate
        width="5"
        size="56"
        color="light-blue"
      />
    </template>
  </v-btn>
</template>

<style scoped>
.btn-flag.v-btn--loading >>> .v-btn__content {
  opacity: 1 !important;
}
</style>

<script>
export default {
  computed: {
    operations() {
      return this.$store.state.bookmarks.operations
    },
    loading() {
      return this.operations.create === 'create'
    }
  },
  methods: {
    create() {
      // Sets the bookmark for dialog.
      this.$store.commit('bookmarks/setDialog', {
        type: 'create',
        bookmark: {}
      })
    }
  }
}
</script>
