<template>
  <v-btn
    icon
    color="grey darken-1"
    class="btn-flag ma-0"
    :loading="loading"
    :disabled="disabled"
    @click="edit"
  >
    <v-icon size="20px" dense>mdi-pencil</v-icon>

    <template v-slot:loader>
      <v-progress-circular
        indeterminate
        width="3"
        size="36"
        color="light-blue"
      />
    </template>
  </v-btn>
</template>

<style scoped>
.btn-flag.v-btn--loading >>> .v-btn__content {
  opacity: 1 !important;
}
</style>

<script>
export default {
  props: {
    bookmark: {
      type: Object,
      required: true
    }
  },
  computed: {
    operation() {
      return this.$store.state.bookmarks.operations[this.bookmark.bid]
    },
    disabled() {
      return !!this.operation
    },
    loading() {
      return this.operation === 'edit'
    }
  },
  methods: {
    edit() {
      // Sets the bookmark for dialog.
      this.$store.commit('bookmarks/setDialog', {
        type: 'edit',
        bookmark: this.bookmark
      })
    }
  }
}
</script>
