<template>
  <generic-flag-action
    :bookmark="bookmark"
    flag="favorite"
    flagged-icon="mdi-star"
    unflagged-icon="mdi-star-outline"
  />
</template>

<script>
import GenericFlagAction from '../actions/GenericFlagAction'

export default {
  components: { GenericFlagAction },
  props: {
    bookmark: {
      type: Object,
      required: true
    }
  }
}
</script>
