<template>
  <v-btn
    icon
    color="grey darken-1"
    class="btn-flag ma-0"
    :loading="loading"
    :disabled="disabled"
    @click="toggleFlag"
  >
    <v-icon v-if="flagged" size="20px" dense>{{ flaggedIcon }}</v-icon>
    <v-icon v-else size="20px" dense>{{ unflaggedIcon }}</v-icon>

    <template v-slot:loader>
      <v-progress-circular
        indeterminate
        width="3"
        size="36"
        color="light-blue"
      />
    </template>
  </v-btn>
</template>

<style scoped>
.btn-flag.v-btn--loading >>> .v-btn__content {
  opacity: 1 !important;
}
</style>

<script>
export default {
  props: {
    bookmark: {
      type: Object,
      required: true,
    },
    flag: {
      type: String,
      required: true,
    },
    flaggedIcon: {
      type: String,
      required: true,
    },
    unflaggedIcon: {
      type: String,
      required: true,
    },
  },
  computed: {
    operation() {
      return this.$store.state.bookmarks.operations[this.bookmark.bid]
    },
    disabled() {
      return !!this.operation
    },
    loading() {
      return this.operation === this.flag
    },
    flagged() {
      return this.bookmark.flags && this.bookmark.flags[this.flag]
    },
  },
  methods: {
    async toggleFlag() {
      await this.$store.dispatch('bookmarks/update', {
        bid: this.bookmark.bid,
        payload: {
          flags: {
            ...this.bookmark.flags,
            [this.flag]: !this.bookmark.flags[this.flag],
          },
        },
        operation: this.flag,
      })
    },
  },
}
</script>
