<template>
  <div class="d-flex fluid">
    <bookmark-card-item
      v-for="bookmark in data.bookmarks"
      :key="bookmark.bid"
      :data="bookmark"
    />
  </div>
</template>

<script>
import BookmarkCardItem from './BookmarkCardItem'

export default {
  components: {
    BookmarkCardItem,
  },
  props: {
    data: {
      type: Object,
      required: true,
    },
  },
}
</script>
