<template>
  <div class="compact-item">
    <!-- Left icon -->
    <div class="flex-grow-0 align-self-center">
      <img
        v-if="data.favicon"
        :src="data.favicon"
        height="20"
        width="20"
        class="vertical-middle"
      />
      <v-icon v-else :alt="data.domain" size="20px" class="vertical-middle">
        mdi-earth
      </v-icon>
    </div>

    <!-- Main content -->
    <div class="data-title text-no-wrap text-truncate px-4 align-self-center">
      <a
        target="_blank"
        class="font-weight-bold text-no-wrap text-truncate body-1"
        :href="data.url"
        :title="'Visit ' + data.url"
        style="color: inherit"
      >
        {{ data.title }}
      </a>
    </div>

    <div
      class="data-domain px-4 align-self-center hidden-sm-and-down text-truncate"
    >
      <a
        :title="'Visit ' + data.url"
        :href="data.url"
        target="_blank"
        class="font-weight-regular grey--text darken-2 body-2 text-no-wrap text-truncate"
      >
        {{ data.domain }}
      </a>
    </div>

    <div
      class="data-date px-4 align-self-center grey--text darken-2 hidden-md-and-down"
    >
      <time class="text-no-wrap caption" :title="displayDate">
        {{ displayTimeAgo }}
      </time>
    </div>

    <div
      class="data-actions flex flex-grow-0 align-self-center hidden-sm-and-down"
    >
      <flag-action-form :bookmark="data" />
      <crud-action-form :bookmark="data" />
    </div>
    <div class="flex flex-grow-0 align-self-center hidden-md-and-up">
      <crud-action-menu :bookmark="data" />
    </div>
  </div>
</template>

<style scoped>
.compact-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding-left: 10px;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
}
.compact-item:hover {
  background-color: #e6e6e6;
}
.data-title {
  flex: 1 1 calc(100% - 615px);
}
.data-domain {
  width: 200px;
}
.data-date {
  width: 200px;
}
.data-actions {
  display: flex;
  width: 192px;
}
time {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  line-height: 0.8rem !important;
}
.v-btn--loading >>> .v-btn__content {
  opacity: 1 !important;
}
.v-chip.small-height {
  height: 1.2rem !important;
}
</style>

<script>
import { format, formatDistance } from 'date-fns'
import FlagActionForm from '../forms/FlagActionForm'
import CrudActionForm from '../forms/CrudActionForm'
import CrudActionMenu from '../menus/CrudActionMenu'
import fitChildrenCount from '../../../utils/resizeElement'

export default {
  components: { CrudActionMenu, FlagActionForm, CrudActionForm },
  props: {
    data: {
      type: Object,
      required: true
    }
  },
  data: () => ({
    includedChipsCount: 999
  }),
  computed: {
    displayDate() {
      return this.data.createdAt
        ? format(new Date().setTime(this.data.createdAt), 'MMM dd, yyyy')
        : ''
    },
    displayTimeAgo() {
      return this.data.createdAt
        ? formatDistance(new Date().setTime(this.data.createdAt), new Date(), {
            addSuffix: true
          })
        : ''
    }
  },
  methods: {
    onResize() {
      this.includedChipsCount = fitChildrenCount(this.$refs.chipWrapper)
    }
  }
}
</script>
