<template>
  <v-list-item class="list-item pa-0">
    <v-list-item-avatar tile size="74px" class="ma-0">
      <v-img
        :src="getIllustrationUrl"
        lazy-src="/bookmark/neutral.jpg"
        size="100%"
        class="contain pa-0"
      />
    </v-list-item-avatar>

    <v-list-item-content class="mx-4 pa-1 px-0">
      <a
        target="_blank"
        :href="data.url"
        :title="'Visit ' + data.url"
        style="color: inherit;"
        class="ma-0 text-no-wrap text-truncate"
      >
        <v-list-item-title class="font-weight-bold text-truncate body-1">
          {{ data.title }}
        </v-list-item-title>
        <div
          class="text-truncate font-weight-light body-2 grey--text text--darken-2 domain-wrapper"
        >
          <img
            v-if="data.favicon"
            :src="data.favicon"
            height="16"
            width="16"
            class="vertical-middle mr-2"
          />
          <v-icon
            v-else
            :alt="data.domain"
            size="16px"
            class="vertical-middle mr-2"
            >mdi-earth</v-icon
          >
          {{ data.domain }}
        </div>
      </a>
      <v-content tag="div" ref="chipWrapper" v-resize="onResize" class="pa-0">
        <v-chip
          v-for="(tag, index) in data.tags"
          :key="index"
          label
          small
          class="mr-2 px-2 small-height"
          text-color="grey darken-1"
          :active="index < includedChipsCount"
        >
          {{ tag }}
        </v-chip>
        <span
          v-if="data.tags && includedChipsCount < data.tags.length"
          class="grey--text darken-2 body-2"
        >
          +{{ data.tags.length - includedChipsCount }} more
        </span>
      </v-content>
    </v-list-item-content>

    <v-list-item-content
      class="align-self-center hidden-xs-only"
      style="flex: none;"
    >
      <time class="caption grey--text mr-4" :title="displayDate">
        {{ displayTimeAgo }}
      </time>
    </v-list-item-content>

    <v-list-item-icon class="align-self-center hidden-sm-and-down">
      <flag-action-form :bookmark="data" />
      <crud-action-form :bookmark="data" />
    </v-list-item-icon>

    <v-list-item-icon class="align-self-center hidden-md-and-up">
      <crud-action-menu :bookmark="data" />
    </v-list-item-icon>
  </v-list-item>
</template>

<style scoped>
.list-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.list-item:hover {
  background-color: #e6e6e6;
}
time {
  text-align: right;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0.8rem !important;
}
.cover >>> .v-image__image--preload {
  -webkit-filter: none !important;
  filter: none !important;
  background-position: center top !important;
}
.card-link {
  color: inherit;
}
.v-chip.small-height {
  height: 1.2rem !important;
}
.domain-wrapper {
  top: -4px;
  position: relative;
}
</style>
<script>
import { format, formatDistance } from 'date-fns'
import FlagActionForm from '../forms/FlagActionForm'
import CrudActionForm from '../forms/CrudActionForm'
import CrudActionMenu from '../menus/CrudActionMenu'
import fitChildrenCount from '../../../utils/resizeElement'

export default {
  components: { CrudActionMenu, FlagActionForm, CrudActionForm },
  props: {
    data: {
      type: Object,
      required: true,
    },
  },
  data: () => ({
    includedChipsCount: 999,
    imageError: false,
  }),
  computed: {
    displayDate() {
      return this.data.createdAt
        ? format(new Date().setTime(this.data.createdAt), 'MMM dd, yyyy')
        : ''
    },
    displayTimeAgo() {
      return this.data.createdAt
        ? formatDistance(new Date().setTime(this.data.createdAt), new Date(), {
            addSuffix: true,
          })
        : ''
    },
    getIllustrationUrl() {
      return `${process.env.API_URL}/fetch/cover?bid=${this.data.bid}&rid=${this.data.rid}&width=75&height=75`
    },
  },
  updated() {
    this.onResize()
  },
  methods: {
    onResize() {
      this.includedChipsCount = fitChildrenCount(this.$refs.chipWrapper)
    },
  },
}
</script>
