<template>
  <v-lazy
    :options="{
      threshold: 0.5,
    }"
    transition="scroll-y-transition"
    fluid
  >
    <bookmark-card-item v-if="displayType === 'card'" :data="data" />
    <bookmark-list-item v-else-if="displayType === 'list'" :data="data" />
    <bookmark-compact-item v-else :data="data" />
  </v-lazy>
</template>

<script>
import BookmarkCardItem from './BookmarkCardItem'
import BookmarkCompactItem from './BookmarkCompactItem'
import BookmarkListItem from './BookmarkListItem'

export default {
  components: {
    BookmarkCardItem,
    BookmarkListItem,
    BookmarkCompactItem,
  },
  props: {
    data: {
      type: Object,
      required: true,
    },
  },
  computed: {
    displayType() {
      return this.$auth.$storage.getUniversal('displayType') || 'list'
    },
  },
}
</script>
