<template>
  <div class="card-wrapper pa-1 col-12 col-xl-2 col-lg-3 col-md-4 col-sm-6">
    <v-card class="flex-column d-flex fill-height">
      <!-- Title -->
      <v-card-title class="pt-2 d-block text-truncate">
        <a
          target="_blank"
          class="font-weight-medium"
          :href="data.url"
          :title="'Visit ' + data.url"
          style="color: inherit;"
          >{{ data.title }}</a
        >
      </v-card-title>

      <!-- Subtitle -->
      <v-card-subtitle class="d-flex pb-1">
        <a
          :title="'Visit ' + data.url"
          :href="data.url"
          target="_blank"
          class="text-no-wrap font-weight-regular text-truncate mr-1 card-link"
        >
          <img
            v-if="data.favicon"
            :src="data.favicon"
            height="16"
            width="16"
            class="vertical-middle mr-2"
          />
          <v-icon
            v-else
            :alt="data.domain"
            size="16px"
            class="vertical-middle mr-2"
            >mdi-earth</v-icon
          >
          {{ data.domain }}
        </a>
        <v-spacer />
        <time class="text-no-wrap caption" :title="displayDate">
          {{ displayTimeAgo }}
        </time>
      </v-card-subtitle>

      <!-- Illustration -->
      <v-card-text class="pa-0">
        <v-img
          :src="getIllustrationUrl"
          lazy-src="/bookmark/neutral.jpg"
          height="150px"
          width="100%"
          class="cover"
        />
      </v-card-text>

      <!-- Content -->
      <v-card-text
        class="description body-2 flex-grow-1"
        :class="{ 'font-italic text-center': !data.description }"
      >
        {{ getDescription }}
      </v-card-text>

      <!-- tags -->
      <v-content
        v-if="data.tags.length"
        v-resize="onResize"
        ref="chipWrapper"
        tag="div"
        class="mx-4 mb-2 pa-0 flex-grow-0"
      >
        <v-chip
          v-for="(tag, index) in data.tags"
          :key="index"
          label
          small
          class="mx-1 pa-1"
          text-color="grey darken-1"
          :active="index < includedChipsCount"
        >
          {{ tag }}
        </v-chip>
        <span
          v-if="includedChipsCount < data.tags.length"
          class="grey--text darken-2 body-2"
        >
          +{{ data.tags.length - includedChipsCount }} more
        </span>
      </v-content>
      <span
        v-if="!data.tags.length"
        class="ma-2 mx-4 pa-0 flex-grow-0 grey--text darken-2 body-2 font-italic"
      >
        No tags
      </span>

      <div class="mx-2">
        <v-divider />
      </div>

      <v-card-actions class="v-card-actions mu-2 mb-0">
        <flag-action-form :bookmark="data" />
        <v-spacer />
        <crud-action-form :bookmark="data" />
      </v-card-actions>
    </v-card>
  </div>
</template>

<style scoped>
.card-wrapper {
  height: 440px;
}
.description {
  overflow: hidden;
  line-height: 1.2em;
  max-height: 9.6em;
}
time {
  text-align: right;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0.8rem !important;
}
.cover >>> .v-image__image--preload {
  -webkit-filter: none !important;
  filter: none !important;
  background-position: center top !important;
}
.card-link {
  color: inherit;
}
.v-btn--loading >>> .v-btn__content {
  opacity: 1 !important;
}
</style>
<script>
import { format, formatDistance } from 'date-fns'
import FlagActionForm from '../forms/FlagActionForm'
import CrudActionForm from '../forms/CrudActionForm'
import fitChildrenCount from '../../../utils/resizeElement'

export default {
  components: { FlagActionForm, CrudActionForm },
  props: {
    data: {
      type: Object,
      required: true,
    },
  },
  data: () => ({
    includedChipsCount: 999,
  }),
  computed: {
    displayDate() {
      return this.data.createdAt
        ? format(new Date().setTime(this.data.createdAt), 'MMM dd, yyyy')
        : ''
    },
    displayTimeAgo() {
      return this.data.createdAt
        ? formatDistance(new Date().setTime(this.data.createdAt), new Date(), {
            addSuffix: true,
          })
        : ''
    },
    getIllustrationUrl() {
      return this.data.bid && this.data.rid
        ? `${process.env.API_URL}/fetch/cover?bid=${this.data.bid}&rid=${this.data.rid}&width=450&height=150`
        : ''
    },
    getDescription() {
      return this.data.description || 'No description available'
    },
  },
  updated() {
    this.onResize()
  },
  methods: {
    onResize() {
      this.includedChipsCount = fitChildrenCount(this.$refs.chipWrapper)
    },
  },
}
</script>
