<template>
  <div class="mt-10 text-center font-italic">
    <div>Your dashboard is empty.</div>
    <div>Click on the + button below to start saving bookmarks.</div>
    <div class="pt-3 caption">
      You may also
      <nuxt-link to="/preferences/import">import bookmarks</nuxt-link> from
      external sources.
    </div>
  </div>
</template>
