<template>
  <div class="mt-10 text-center font-italic">
    <div>There is nothing matching your current search.</div>
    <div class="pt-3 caption">
      You may
      <nuxt-link
        :to="{
          path: 'dashboard',
          query: {
            ...this.$router.currentRoute.query,
            search: '',
          },
        }"
      >
        clear the search
      </nuxt-link>
      to see all your bookmarks.
    </div>
  </div>
</template>
