<template>
  <v-breadcrumbs :items="breadcrumbs()" class="align-self-center" />
</template>

<script>
const searchQueryParser = require('search-query-parser')

export default {
  watch: {
    /**
     * $route: we have some process to do when the route change.
     *  - It can either be from the DisplayViewActionForm to change the display.
     *  - It can be from the SearchBar for a new search.
     *  */
    $route(to, from) {
      // Trigger a search query change.
      if (from.query.search !== to.query.search) {
        this.$forceUpdate()
      }
    },
  },
  methods: {
    breadcrumbs() {
      const routeName = this.$router.currentRoute.name
      const search = this.$router.currentRoute.query.search || ''
      const breads = []

      if (routeName === 'dashboard') {
        breads.push({
          text: 'Dashboard',
          disabled: true,
        })
        breads.push({
          text: 'All bookmarks',
          disabled: true,
        })
      }

      const parsed = searchQueryParser.parse(search, {
        keywords: [
          'title',
          'description',
          'url',
          'content',
          'domain',
          'flags',
          'tags',
        ],
        tokenize: true,
        alwaysArray: true,
        offsets: false,
      })
      if (parsed.flags) {
        breads.push({
          text: `Flagged as ${parsed.flags}`,
          disabled: true,
        })
        delete parsed.flags
      }

      // (excludes key is always present).
      if (Object.keys(parsed).length > 1) {
        breads.push({
          text: 'Custom search',
          disabled: true,
        })
      }
      return breads
    },
  },
}
</script>
