<template>
  <list-menu :items="items" />
</template>

<script>
import ListMenu from '../commons/ListMenu'
export default {
  components: { ListMenu },
  data() {
    return {
      items: [
        { icon: 'mdi-view-dashboard', text: 'Dashboard' },
        { divider: true },
        /* {
          icon: 'mdi-chevron-up',
          'icon-alt': 'mdi-chevron-down',
          text: 'More',
          model: false,
          children: [
            { text: 'Import' },
            { text: 'Export' },
            { text: 'Print' },
            { text: 'Undo changes' },
            { text: 'Other contacts' }
          ]
        }, */
        {
          icon: 'mdi-star',
          text: 'Favorited',
          link: {
            path: 'dashboard',
            query: {
              ...this.$router.currentRoute.query,
              search: 'flags:favorite',
            },
          },
        },
        {
          icon: 'mdi-clock',
          text: 'Read later',
          link: {
            path: 'dashboard',
            query: {
              ...this.$router.currentRoute.query,
              search: 'flags:read_later',
            },
          },
        },
        {
          icon: 'mdi-package-down',
          text: 'Archived',
          link: {
            path: 'dashboard',
            query: {
              ...this.$router.currentRoute.query,
              search: 'flags:archive',
            },
          },
        },
        { divider: true },
      ],
    }
  },
}
</script>
