<template>
  <list-menu :items="items" />
</template>

<script>
import ListMenu from '../commons/ListMenu'
export default {
  components: { ListMenu },
  data() {
    return {
      items: [{ icon: 'mdi-help-circle', text: 'About', link: '/' }]
    }
  }
}
</script>
