<template>
  <div>
    <list-menu :items="items" />
    <confirm-logout-dialog :visible="logoutModal" @close="logoutModalClose" />
  </div>
</template>

<script>
import ListMenu from '../commons/ListMenu'
import ConfirmLogoutDialog from '../dialogs/ConfirmLogoutDialog'
export default {
  components: { ConfirmLogoutDialog, ListMenu },
  data() {
    return {
      logoutModal: false,
      items: [
        { icon: 'mdi-cog', text: 'Preferences', link: '/preferences' },
        { divider: true },
        { icon: 'mdi-logout', text: 'Logout', click: this.logoutHandler },
      ],
    }
  },
  methods: {
    logoutHandler() {
      this.logoutModal = true
    },
    logoutModalClose() {
      this.logoutModal = false
    },
  },
}
</script>
