<template>
  <div>
    <list-menu
      class="preferences-menu-list"
      :class="{ expanded: expand }"
      :items="items"
      :expand="expand"
    />
    <confirm-logout-dialog :visible="logoutModal" @close="logoutModalClose" />
  </div>
</template>

<style scoped>
.preferences-menu-list {
  background: none;
}
.preferences-menu-list >>> .v-list-group {
  color: inherit !important;
}
.preferences-menu-list >>> .v-list-group__items {
  padding-left: 20px;
}
.preferences-menu-list >>> .v-list-item__subtitle {
  text-overflow: initial;
  white-space: initial;
}
.preferences-menu-list >>> .v-list-item__title {
  font-size: 16px !important;
  font-weight: bold;
}
.preferences-menu-list:not(.expanded)
  >>> .v-list-group__items
  .v-list-item__title {
  font-size: 14px !important;
  font-weight: normal !important;
}
.preferences-menu-list.expanded >>> .v-list-group__items .v-list-item__title {
  line-height: 20px;
  font-size: 20px !important;
  font-weight: bold !important;
}
</style>
<script>
import ListMenu from '../commons/ListMenu'
import ConfirmLogoutDialog from '../dialogs/ConfirmLogoutDialog'
export default {
  components: { ConfirmLogoutDialog, ListMenu },
  props: {
    expand: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      logoutModal: false,
      items: [
        {
          model: true,
          text: 'General',
          expand: false,
          children: [
            {
              text: 'Return to dashboard',
              link: '/dashboard',
            },
            {
              text: 'Logout',
              click: this.logoutHandler,
            },
          ],
        },
        {
          model: true,
          text: 'Advanced options',
          children: [
            {
              text: 'Import',
              link: '/preferences/import',
              description:
                'Import bookmarks from external services into your WooMind account.',
            },
            {
              text: 'Reset and delete',
              link: '/preferences/delete',
              description: 'Reset your account or delete it.',
            },
          ],
        },
      ],
    }
  },
  methods: {
    logoutHandler() {
      this.logoutModal = true
    },
    logoutModalClose() {
      this.logoutModal = false
    },
  },
}
</script>
