html {
  overflow-y: auto !important;
}

// Global
.vertical-middle {
  vertical-align: middle;
}

// Nuxt links.
a {
  font-weight: bold;
  text-decoration: none;
}

.v-list a {
  color: inherit !important;
}

// Inputs (override Vuetify).
.v-input__slot {
  margin-bottom: 0 !important;
}
.v-text-field > .v-input__control > .v-input__slot:after {
  border-width: 1px !important;
}
.v-text-field .v-label--active {
  transform: translateY(-20px) scale(0.75) !important;
}
.v-input.error--text .v-input__slot:after {
  border-width: 1.5px !important;
  transform: scaleX(1) !important;
}
.v-text-field__details {
  min-height: calc(23px) !important;
}

.v-messages,
.v-counter {
  padding: 5px 10px 10px 10px;
}
.v-messages.error--text {
  background-color: #ffe1d6;
  font-weight: 500;
  font-size: 13px;
  padding: 5px 10px !important;
  margin: 0;
}
.v-text-field.v-input--dense .v-input__prepend-inner .v-input__icon > .v-icon {
  margin-top: 0 !important;
}

// Cards
.v-card__text {
  font-size: 1rem !important;
}

// Buttons
.v-btn--loading >>> .v-btn__content {
  opacity: 1 !important;
}
