<template>
  <v-app id="woomind">
    <v-content class="grey lighten-5">
      <v-container class="fill-height">
        <nuxt />
      </v-container>
    </v-content>

    <app-footer />
  </v-app>
</template>

<script>
import AppFooter from '../components/commons/AppFooter'

export default {
  components: {
    AppFooter
  }
}
</script>
