<template>
  <v-app id="woomind">
    <!-- Navigatioon menu in the drawer -->
    <v-navigation-drawer clipped mini-variant expand-on-hover permanent app>
      <!-- main menu -->
      <main-menu />
      <!-- footer menu -->
      <template v-slot:append>
        <secondary-menu />
      </template>
    </v-navigation-drawer>

    <!-- :clipped-left="$vuetify.breakpoint.lgAndUp" -->
    <app-header>
      <search-bar />
    </app-header>

    <v-content class="grey lighten-5">
      <email-verification-banner v-if="!isUserVerified" />
      <v-container fluid fill-height :style="containerHeight" class="pa-0">
        <nuxt />
      </v-container>
    </v-content>

    <app-footer />
  </v-app>
</template>

<script>
import MainMenu from '../components/navigation/MainMenu'
import SecondaryMenu from '../components/navigation/SecondaryMenu'
import SearchBar from '../components/commons/SearchBar'
import AppFooter from '../components/commons/AppFooter'
import AppHeader from '../components/commons/AppHeader'
import EmailVerificationBanner from '../components/commons/EmailVerificationBanner'

export default {
  components: {
    AppHeader,
    AppFooter,
    SearchBar,
    SecondaryMenu,
    MainMenu,
    EmailVerificationBanner
  },
  computed: {
    isUserVerified() {
      return this.$store.state.auth.isVerified
    },
    containerHeight() {
      if (!this.isUserVerified) {
        return 'height:calc(100% - 67px)'
      }
      return ''
    }
  }
}
</script>
