<template>
  <v-app id="woomind">
    <nuxt />
    <app-footer />
  </v-app>
</template>

<script>
import AppFooter from '../components/commons/AppFooter'

export default {
  components: {
    AppFooter
  }
}
</script>
