<template>
  <v-app dark>
    <h1 v-if="error.statusCode === 404">
      {{ pageNotFound }}
    </h1>
    <h1 v-else>
      Oups... something went really wrong here.
    </h1>
    <NuxtLink to="/dashboard">
      Go to dashboard
    </NuxtLink>

    <app-footer />
  </v-app>
</template>

<script>
import AppFooter from '../components/commons/AppFooter'

export default {
  components: {
    AppFooter
  },
  props: {
    error: {
      type: Object,
      default: null
    }
  },
  data() {
    return {
      pageNotFound: '404 Not Found',
      otherError: 'An error occurred: ' + this.error.message
    }
  },
  head() {
    const title =
      this.error.statusCode === 404 ? this.pageNotFound : this.otherError
    return {
      title
    }
  }
}
</script>

<style scoped>
h1 {
  font-size: 20px;
}
</style>
