<template>
  <v-app id="woomind">
    <!-- :clipped-left="$vuetify.breakpoint.lgAndUp" -->

    <app-header />

    <v-content class="grey lighten-5">
      <email-verification-banner v-if="!isUserVerified" />
      <v-container :style="containerHeight">
        <v-row>
          <v-col cols="12" sm="3" class="pr-4">
            <nuxt-link to="/preferences" class="title d-block">
              Preferences
            </nuxt-link>
            <preferences-menu class="menu-sidebar" />
          </v-col>
          <v-col cols="12" sm="6">
            <nuxt />
          </v-col>
        </v-row>
      </v-container>
    </v-content>

    <app-footer />
  </v-app>
</template>

<script>
import AppFooter from '../components/commons/AppFooter'
import AppHeader from '../components/commons/AppHeader'
import EmailVerificationBanner from '../components/commons/EmailVerificationBanner'
import PreferencesMenu from '../components/preferences/PreferencesMenu'

export default {
  components: {
    PreferencesMenu,
    AppHeader,
    AppFooter,
    EmailVerificationBanner
  },
  computed: {
    isUserVerified() {
      return this.$store.state.auth.isVerified
    },
    containerHeight() {
      if (!this.isUserVerified) {
        return 'height:calc(100% - 67px)'
      }
      return ''
    }
  }
}
</script>
