<template>
  <v-row align="center" justify="center">
    <v-col cols="12" sm="10" md="6">
      <v-card>
        <div class="text-center">
          <logo size="200px" />
        </div>
        <v-card-title class="justify-center headline">
          Welcome to WooMind !
        </v-card-title>
        <v-card-text>
          <p>
            WooMind is a work-in-progress bookmarking service.
          </p>
          <p>
            Just like you bookmark things in your browser as you navigate
            online, you can bookmark your favourite pages, images, videos,
            etc... in WooMind too. Anything that has a URL, you can bookmark it
            !
          </p>
          <p>
            Once done, you will be able to retrieve, tag, find, and use your
            bookmark easlily from anywhere : <br />
            web, mobile app, browser extensions, etc...
          </p>
          <div class="text-xs-right">
            <em><small>&mdash; L'équipe WooMind</small></em>
          </div>
          <hr class="my-3" />
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn color="primary" nuxt to="/dashboard">
            Continue
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import Logo from '../components/commons/Logo.vue'

export default {
  layout: 'centered',
  components: {
    Logo
  }
}
</script>
