<template>
  <div class="container">
    <v-card class="pa-3 pt-0" :loading="loading" @keydown.enter="login">
      <v-card-title class="flex-column">
        <v-avatar color="secondary mb-2">
          <v-icon dark>mdi-lock-outline</v-icon>
        </v-avatar>
        <div style="margin-top:-10px;" class="display-1">Sign In</div>
      </v-card-title>
      <v-card-subtitle class="text-center justify-center">
        to enter WooMind
      </v-card-subtitle>
      <v-card-text>
        <v-alert v-if="error" class="v-alert-error" show dense>
          <div class="alert-name">{{ error.name }}</div>
          <div class="alert-message">{{ error.message }}</div>
        </v-alert>
        <!--v-alert v-if="$auth.$state.redirect" type="info" show>
          You must login to access
          <strong>{{ $auth.$state.redirect }}</strong>
        </v-alert-->
        <v-form ref="loginForm">
          <v-text-field
            v-model="email"
            :rules="[emailRules.required, emailRules.valid]"
            label="Email*"
            autocomplete="email"
            prepend-icon="mdi-account"
            validate-on-blur
            required
            autofocus
          />

          <v-text-field
            v-model="password"
            :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
            :type="showPassword ? 'text' : 'password'"
            :rules="[passwordRules.required]"
            label="Password*"
            autocomplete="current-password"
            prepend-icon="mdi-lock"
            validate-on-blur
            required
            @click:append="showPassword = !showPassword"
          />
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-btn block color="primary" @click="login">Sign In</v-btn>
      </v-card-actions>

      <divider class="ml-2 mr-2">OR</divider>

      <nuxt-link class="d-block text-center" to="/register"
        >Register in our awesome app !</nuxt-link
      >
    </v-card>
  </div>
</template>

<style lang="css" scoped>
.container {
  width: 400px;
  margin: 0 auto;
}
.v-alert-error {
  text-align: center;
  color: #d32f2f;
  font-size: 0.9rem;
  background-color: #ffe1d6 !important;
  border-radius: 0;
}
.alert-name {
  font-weight: bold;
}
</style>

<script>
import Divider from '../components/commons/Divider'

export default {
  layout: 'centered',
  middleware: ['auth'],
  components: { Divider },
  data() {
    return {
      emailRules: {
        required: (v) => !!v || 'Email cannot be empty.',
        valid: (v) =>
          /^([\w.%+-]+)@([\w-]+\.)+([\w]{2,})$/i.test(v) ||
          'Email format is invalid.'
      },
      passwordRules: {
        required: (v) => !!v || 'Password cannot be empty.'
      },
      email: '',
      password: '',
      showPassword: false,
      loading: false,
      error: null
    }
  },
  computed: {
    strategies: () => [
      { key: 'twitter', name: 'Twitter', color: '#ec5425' },
      { key: 'google', name: 'Google', color: '#4284f4' },
      { key: 'facebook', name: 'Facebook', color: '#3c65c4' },
      { key: 'github', name: 'GitHub', color: '#202326' }
    ],
    redirect() {
      return (
        this.$route.query.redirect &&
        decodeURIComponent(this.$route.query.redirect)
      )
    },
    isCallback() {
      return Boolean(this.$route.query.callback)
    }
  },
  methods: {
    async login() {
      this.error = null
      if (this.$refs.loginForm.validate()) {
        this.loading = true
        return await this.$auth
          .loginWith('local', {
            data: {
              email: this.email,
              password: this.password
            }
          })
          .catch((e) => {
            this.error = e
            this.loading = false
          })
      }
    }
  }
}
</script>
