<template>
  <div class="container">
    <v-card class="pa-3 pt-0" :loading="loading" @keydown.enter="register">
      <v-card-title class="flex-column">
        <v-avatar color="secondary mb-2">
          <v-icon dark>mdi-lock-outline</v-icon>
        </v-avatar>
        <div style="margin-top: -10px;" class="display-1">Register</div>
      </v-card-title>
      <v-card-subtitle class="text-center justify-center">
        Welcome to WooMin !
      </v-card-subtitle>
      <v-card-text>
        <v-alert v-if="error" class="v-alert-error" show dense>
          <div class="alert-name">{{ error.name }}</div>
          <div class="alert-message">{{ error.message }}</div>
        </v-alert>
        <!--v-alert v-if="$auth.$state.redirect" type="info" show>
          You must register to access
          <strong>{{ $auth.$state.redirect }}</strong>
        </v-alert-->
        <v-form ref="registerForm">
          <v-text-field
            v-model="email"
            :rules="[emailRules.required, emailRules.validate, emailRules.api]"
            label="Email*"
            autocomplete="email"
            prepend-icon="mdi-account"
            validate-on-blur
            required
            autofocus
            @change="clearApiError('email')"
          />

          <v-text-field
            v-model="password"
            :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
            :type="showPassword ? 'text' : 'password'"
            :rules="[
              passwordRules.required,
              passwordRules.min,
              passwordRules.max,
              passwordRules.strong,
              passwordRules.api,
            ]"
            label="Password*"
            autocomplete="new-password"
            prepend-icon="mdi-lock"
            validate-on-blur
            required
            loading
            @change="clearApiError('password')"
            @click:append="showPassword = !showPassword"
            ><template v-slot:progress>
              <v-progress-linear
                :value="progressPassword"
                :color="colorPassword"
                absolute
                height="7"
              ></v-progress-linear>
            </template>
          </v-text-field>

          <v-text-field
            :append-icon="showPasswordConfirmation ? 'mdi-eye' : 'mdi-eye-off'"
            :rules="[passwordRules.match]"
            :type="showPasswordConfirmation ? 'text' : 'password'"
            label="Confirm Password*"
            autocomplete="new-password"
            prepend-icon="mdi-alarm-light"
            validate-on-blur
            required
            @click:append="showPasswordConfirmation = !showPasswordConfirmation"
          />
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-btn block color="primary" @click="register">Register</v-btn>
      </v-card-actions>

      <divider class="ml-2 mr-2">OR</divider>

      <nuxt-link class="d-block text-center" to="/login">Sign In</nuxt-link>
    </v-card>
  </div>
</template>

<style lang="css" scoped>
.container {
  width: 400px;
  margin: 0 auto;
}
.v-alert-error {
  text-align: center;
  color: #d32f2f;
  font-size: 0.9rem;
  background-color: #ffe1d6 !important;
  border-radius: 0;
}
.alert-name {
  font-weight: bold;
}
.v-input--is-loading .v-messages {
  padding: 10px 10px 5px 10px;
}
</style>

<script>
import stringEntropy from 'fast-password-entropy'
import Divider from '../components/commons/Divider'

export default {
  layout: 'centered',
  components: { Divider },
  data() {
    return {
      emailRules: {
        required: (v) => !!v || 'Email cannot be empty.',
        validate: (v) =>
          /^([\w.%+-]+)@([\w-]+\.)+([\w]{2,})$/i.test(v) ||
          'Email format is invalid.',
        api: () =>
          !this.error ||
          !this.error.fields ||
          !this.error.fields.email ||
          this.error.fields.email,
      },
      passwordRules: {
        required: (v) => !!v || 'Password cannot be empty.',
        min: (v) => v.length >= 8 || 'Password must be at least 8 characters.',
        max: (v) =>
          v.length <= 1024 || 'Password must be at most 1024 characters.',
        strong: (v) =>
          stringEntropy(v) > 45 || 'Please choose a stronger password.',
        match: (v) => v === this.password || 'Both passwords must match.',
        api: () =>
          !this.error ||
          !this.error.fields ||
          !this.error.fields.password ||
          this.error.fields.password,
      },
      passwordConfirmationRule() {},
      email: '',
      password: '',
      showPassword: false,
      showPasswordConfirmation: false,
      loading: false,
      error: null,
    }
  },
  computed: {
    progressPassword() {
      return (stringEntropy(this.password) * 67) / 45 // Math.min(100, (stringEntropy(this.password) * 100) / 45)
    },
    colorPassword() {
      const strength = this.progressPassword
      if (strength > 67) {
        return 'success'
      } else if (strength > 33) {
        return 'warning'
      } else return 'error'
    },
  },
  methods: {
    async register() {
      this.error = null
      if (this.$refs.registerForm.validate()) {
        this.loading = true
        return await this.$axios
          .post('proxy/auth/register', {
            email: this.email,
            password: this.password,
          })
          .then(async () => {
            await this.$auth.loginWith('local', {
              data: {
                email: this.email,
                password: this.password,
              },
            })
            this.loading = false
          })
          .catch((e) => {
            this.error = e
            this.$refs.registerForm.validate()
            this.loading = false
          })
      }
    },
    clearApiError(key) {
      if (this.error && this.error.fields) {
        delete this.error.fields[key]
      }
    },
  },
}
</script>
