<template>
  <div>
    <v-footer app color="red" class="justify-center">
      <div class="text-center white--text">
        &copy; 2020 - This application is under active development: please use
        it for test only.
      </div>
    </v-footer>
    <snackbar />
  </div>
</template>

<script>
import Snackbar from './Snackbar'

export default {
  components: {
    Snackbar
  }
}
</script>

