<template>
  <v-app-bar color="primary" clipped-left dark app>
    <logo />

    <v-toolbar-title style="width: 300px" class="ml-0 pl-4">
      <nuxt-link to="/dashboard" class="header-title">
        <span class="display-1 hidden-sm-and-down">WooMind</span>
      </nuxt-link>
    </v-toolbar-title>

    <slot />

    <v-spacer />

    <v-menu offset-y bottom left>
      <template v-slot:activator="{ on }">
        <v-btn icon v-on="on">
          <v-icon x-large>mdi-account</v-icon>
        </v-btn>
      </template>
      <user-menu />
    </v-menu>
  </v-app-bar>
</template>

<style scoped>
.header-title {
  color: inherit !important;
}
</style>

<script>
import UserMenu from '../navigation/UserMenu'
import Logo from './Logo'
export default {
  components: { Logo, UserMenu }
}
</script>
