<template>
  <div class="divider"><slot></slot></div>
</template>

<style lang="css" scoped>
.divider {
  margin: 1.5em auto;
  position: relative;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #919191;
  text-transform: uppercase;
  height: 20px;
  z-index: 1;
}
.divider:before {
  position: absolute;
  content: '';
  left: 0;
  top: 9px;
  height: 1px;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#d3d3d3),
    color-stop(42%, #d3d3d3),
    color-stop(42.1%, #fff),
    color-stop(57.9%, #fff),
    color-stop(58%, #d3d3d3)
  );
  background: linear-gradient(
    90deg,
    #d3d3d3,
    #d3d3d3 42%,
    #fff 42.1%,
    #fff 57.9%,
    #d3d3d3 58%
  );
  width: 100%;
  z-index: -1;
}
</style>
