<template>
  <nuxt-link to="/email-verification">
    <v-banner
      ref="banner"
      color="lime accent-1"
      class="banner body-2"
      sticky
      two-line
      app
      width="100%"
    >
      <v-row>
        <v-col class="pa-2 flex-grow-0 text-center">
          <v-icon size="50">mdi-alert-rhombus</v-icon>
        </v-col>
        <v-col class="pa-0 align-self-center">
          <div class="pa-0 font-weight-bold">Email verification</div>
          <div class="pa-0">
            After <em>tomorrow</em> you won't be able to use our service anymore
            until your email address is verified.
          </div>
        </v-col>
      </v-row>
    </v-banner>
  </nuxt-link>
</template>

<style scoped>
.banner >>> .v-banner__wrapper {
  padding: 0 20px;
}
.banner >>> .v-banner__text {
  margin: auto;
}
</style>

<script>
export default {}
</script>
