<template>
  <v-list dense>
    <template v-for="(item, index) in items">
      <!-- case of a heading -->
      <v-row v-if="item.heading" :key="item.heading" align="center">
        <v-col cols="6">
          <v-subheader v-if="item.heading">
            {{ item.heading }}
          </v-subheader>
        </v-col>
        <v-col cols="6" class="text-center">
          <a href="#!" class="body-2 black--text">EDIT</a>
        </v-col>
      </v-row>

      <!-- case of a collapsible group -->
      <v-list-group
        v-else-if="
          item.children && (!expand || (expand && item.expand !== false))
        "
        :key="item.text"
        v-model="item.model"
        :prepend-icon="item.model ? item.icon : item['icon-alt']"
      >
        <template v-slot:activator>
          <v-list-item-content>
            <v-list-item-title>
              {{ item.text }}
            </v-list-item-title>
            <v-list-item-subtitle v-if="expand && item.description">
              {{ item.description }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </template>

        <!-- inner group item link -->
        <nuxt-link
          v-for="(child, i) in item.children"
          :key="i"
          :to="itemLink(child)"
          @click.native="(e) => onClick(child, e)"
        >
          <v-list-item link ripple>
            <v-list-item-action v-if="child.icon">
              <v-icon>{{ child.icon }}</v-icon>
            </v-list-item-action>
            <v-list-item-content v-else>
              <v-list-item-title class="body-1">
                {{ child.text }}
              </v-list-item-title>
              <v-list-item-subtitle v-if="expand && child.description">
                {{ child.description }}
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </nuxt-link>
      </v-list-group>
      <v-divider v-else-if="item.divider" :key="index" />

      <!-- case of a usual item -->
      <nuxt-link
        v-else-if="
          !item.children && (!expand || (expand && item.expand !== false))
        "
        :key="item.text"
        :to="itemLink(item)"
        @click.native="(e) => onClick(item, e)"
      >
        <v-list-item link ripple>
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class="body-1">
              {{ item.text }}
            </v-list-item-title>
            <v-list-item-subtitle v-if="expand && item.description">
              {{ item.description }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </nuxt-link>
    </template>
  </v-list>
</template>

<script>
export default {
  props: {
    items: {
      type: Array,
      required: true
    },
    expand: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    itemLink(item) {
      return item.link ? item.link : {}
    },
    onClick(item, e) {
      if (item.click) {
        item.click()
      }
      e.preventDefault()
      e.stopPropagation()
    }
  }
}
</script>
