<template>
  <nuxt-link to="/dashboard">
    <v-avatar :size="size">
      <v-img class="app-logo" alt="Welcome to WooMind" src="/logo.png" />
    </v-avatar>
  </nuxt-link>
</template>

<style>
.app-logo {
  height: 180px;
  width: 180px;
  transform: rotateY(540deg);
  animation: turn 3.5s ease-out forwards 1s;
}

@keyframes turn {
  100% {
    transform: rotateY(0deg);
  }
}
</style>

<script>
export default {
  props: {
    size: {
      type: String,
      default: '74px'
    }
  }
}
</script>
