<template>
  <v-text-field
    v-model="query"
    flat
    solo-inverted
    hide-details
    clearable
    prepend-inner-icon="mdi-magnify"
    label="Search"
    class="hidden-sm-and-down"
    @click:clear="clear"
    @keypress.enter="search"
  />
</template>

<script>
export default {
  data() {
    return {
      query: '',
    }
  },
  /**
   * Before we mount the component, get some defaults.
   */
  beforeMount() {
    // Get the search from route.
    this.query = this.$router.currentRoute.query.search
  },
  methods: {
    clear() {
      this.query = ''
      this.search()
    },
    search() {
      // Do not override other URLs queries.
      const query = { ...this.$router.currentRoute.query, search: this.query }
      // Only add the query if not empty to avoid pending 'query=' in the URL.
      if (!this.search) delete query.search
      // Push the URL.
      this.$router.push({
        path: this.$router.currentRoute.path,
        query,
      })
    },
  },
}
</script>
