<template>
  <v-snackbar
    v-model="show"
    :color="color"
    :multi-line="!!title && !!message"
    :timeout="timeout"
    bottom
    left
    class="subtitle-1"
  >
    <div class="d-flex flex-column">
      <div v-if="title" class="d-block font-weight-bold">{{ title }}</div>
      <div class="d-block">{{ message }}</div>
    </div>
    <v-btn text @click="show = false">Close</v-btn>
  </v-snackbar>
</template>

<script>
export default {
  data() {
    return {
      show: false,
      title: '',
      message: '',
      color: 'info',
      timeout: 3000
    }
  },

  created() {
    this.$store.subscribe((mutation, state) => {
      if (mutation.type === 'snackbar/showMessage') {
        this.title = state.snackbar.title
        this.message = state.snackbar.message
        this.color = state.snackbar.color
        this.show = true
      }
    })
  }
}
</script>
