<template>
  <v-avatar :size="size">
    <v-img class="app-spinner" alt="Please, wait a moment." src="/logo.png" />
  </v-avatar>
</template>

<style>
.app-spinner {
  height: 180px;
  width: 180px;
  transform: rotateY(540deg);
  animation: turn 3.5s ease-out forwards 1s infinite;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

@keyframes turn {
  100% {
    transform: rotateY(0deg);
  }
}
</style>

<script>
export default {
  props: {
    size: {
      type: String,
      default: '74px',
    },
  },
}
</script>
