<template>
  <v-container fluid fill-height class="pa-0">
    <div class="virtual-list-title">
      <breadcrumbs />
      <div v-if="loading" class="align-self-center grey--text lighten-4">
        <span class="pr-2">/</span> fetching
        <v-progress-circular indeterminate size="20" />
      </div>
      <v-spacer />
      <display-view-action-form :disabled="loading" />
    </div>

    <div v-resize="onResize" class="fluid flex virtual-list-container">
      <RecycleScroller
        ref="list"
        class="virtual-list px-2"
        :class="{
          'virtual-list-card': display === 'card',
          'virtual-list-list': display === 'list',
          'virtual-list-compact': display === 'compact',
        }"
        :items="getListItems()"
        :item-size="getListItemsSize()"
        :key-field="getListItemsKey()"
      >
        <template v-slot="{ item }">
          <BookmarkItemWrapper v-if="display === 'card'" :data="item" />
          <BookmarkListItem v-else-if="display === 'list'" :data="item" />
          <BookmarkCompactItem v-else :data="item" />
        </template>
        <template v-if="!loading && !bookmarks.length" #before>
          <no-bookmarks-in-search v-if="search" />
          <no-bookmarks-in-list v-else />
        </template>
        <template #after>
          <div v-if="loading" class="mt-10 text-center font-italic">
            <div>Fetching data... please wait !</div>
            <spinner />
          </div>
        </template>
      </RecycleScroller>
    </div>

    <confirm-remove-dialog />
    <create-action />
    <create-dialog />
    <edit-dialog />
  </v-container>
</template>

<style scoped>
.virtual-list-title {
  padding: 12px;
  height: 36px;
  box-sizing: content-box;
  flex: 1 1 100%;
  display: flex;
}
.virtual-list-container {
  height: calc(100% - 48px);
  flex: 1 1 100%;
  display: flex;
}
.virtual-list {
  width: 100%;
  height: calc(100% - 48px);
}
.virtual-list-list >>> .vue-recycle-scroller__item-wrapper,
.virtual-list-compact >>> .vue-recycle-scroller__item-wrapper {
  background-color: white;
}
.virtual-list-list >>> .vue-recycle-scroller__item-view {
  height: 75px;
}
.virtual-list-compact >>> .vue-recycle-scroller__item-view {
  height: 36px;
}
</style>

<script>
import 'vue-virtual-scroller/dist/vue-virtual-scroller.css'
import { RecycleScroller } from 'vue-virtual-scroller'
import BookmarkCompactItem from '../../components/bookmarks/displays/BookmarkCompactItem'
import BookmarkListItem from '../../components/bookmarks/displays/BookmarkListItem'
import BookmarkItemWrapper from '../../components/bookmarks/displays/BookmarkItemWrapper'
import DisplayViewActionForm from '../../components/bookmarks/forms/DisplayViewActionForm'
import ConfirmRemoveDialog from '../../components/bookmarks/dialogs/ConfirmRemoveDialog'
import CreateAction from '../../components/bookmarks/actions/CreateAction'
import CreateDialog from '../../components/bookmarks/dialogs/CreateDialog'
import EditDialog from '../../components/bookmarks/dialogs/EditDialog'
import NoBookmarksInList from '../../components/bookmarks/displays/NoBookmarksInList'
import NoBookmarksInSearch from '../../components/bookmarks/displays/NoBookmarksInSearch'
import Spinner from '../../components/commons/Spinner'
import Breadcrumbs from '../../components/navigation/Breadcrumbs'

export default {
  layout: 'dashboard',
  middleware: ['auth'],
  components: {
    Breadcrumbs,
    Spinner,
    BookmarkCompactItem,
    BookmarkListItem,
    BookmarkItemWrapper,
    NoBookmarksInList,
    NoBookmarksInSearch,
    DisplayViewActionForm,
    RecycleScroller,
    CreateDialog,
    CreateAction,
    EditDialog,
    ConfirmRemoveDialog,
  },
  data() {
    return {
      loading: false, // loader indicator, true during fetch.
      search: '', // Current query search (see beforeMount)
      display: 'list', // Current display (see beforeMount)
    }
  },
  computed: {
    bookmarks() {
      return this.$store.state.bookmarks.list
    },
    /**
     * Wraps the bookmarks by 4. This is a necessary process for the 'grid' display.
     * @returns {[]}
     */
    bookmarkWraps() {
      const n = 4
      const groups = []
      const bookmarks = this.bookmarks
      for (let i = 0, end = bookmarks.length / n; i < end; ++i)
        groups.push({
          index: i,
          bookmarks: bookmarks.slice(i * n, (i + 1) * n),
        })
      return groups
    },
  },
  /**
   * Watchers
   */
  watch: {
    /**
     * $route: we have some process to do when the route change.
     *  - It can either be from the DisplayViewActionForm to change the display.
     *  - It can be from the SearchBar for a new search.
     *  */
    $route(to, from) {
      // Trigger a display change.
      this.display = to.query.display || 'list'
      // Trigger a search query change.
      if (this.search !== to.query.search) {
        this.search = to.query.search
        this.fetchData()
      }
    },
    /**
     * bookmarks: triggered when the bookmarks change.
     */
    bookmarks() {
      this.$forceUpdate()
    },
  },
  /**
   * Before we mount the component, get some defaults.
   * @returns {Promise<void>}
   */
  async beforeMount() {
    // Get the display stored in the storage.
    this.display = this.$auth.$storage.getUniversal('displayType') || 'list'
    // Get the search from route.
    this.search = this.$router.currentRoute.query.search
    // Fetch the data now we have everything we need.
    await this.fetchData()
  },
  /**
   * Call onResize at least one on mount.
   */
  mounted() {
    this.onResize()
  },
  methods: {
    /**
     * Resize handler:
     * When the page size change, we want to compute a new height for the scroller.
     * This is necessary by design of the scroller and because we want a fill-height app.
     */
    onResize() {
      const viewportHeight = Math.max(
        document.documentElement.clientHeight,
        window.innerHeight || 0
      )
      const offsetTop = this.$refs.list.$el.getBoundingClientRect().top
      const footerHeight = 36
      this.$refs.list.$el.style.height =
        viewportHeight - offsetTop - footerHeight + 'px'
    },
    /**
     * Fetch bookmarks
     * @returns {Promise<void>}
     */
    async fetchData() {
      this.loading = true
      await this.$store.dispatch('bookmarks/fetch')
      this.loading = false
    },
    /***
     * Returns the items to be displayed in the list.
     */
    getListItems() {
      // Items are in 'this.bookmarks' unless in card view where we have to group them.
      return this.display === 'card' ? this.bookmarkWraps : this.bookmarks
    },
    /**
     * Compute the height of a list item depending on the display type.
     */
    getListItemsSize() {
      if (this.display === 'card') return 450
      else if (this.display === 'list') return 75
      return 36
    },
    /**
     * Compute the key of a list item depending on the display type.
     */
    getListItemsKey() {
      return this.display === 'card' ? 'index' : 'bid'
    },
  },
}
</script>
