<template>
  <v-dialog v-model="show" max-width="500">
    <v-card>
      <v-card-title class="headline">Are you sure ?</v-card-title>

      <v-form ref="confirmForm" @submit.prevent="submit()">
        <v-card-text>
          <v-icon class="pr-2" style="vertical-align: bottom;">
            mdi-alert
          </v-icon>
          Type the word
          <span class="font-weight-bold">{{ operationName }}</span> and confirm

          <v-text-field
            v-model="confirm"
            :rules="[confirmRules.required, confirmRules.match]"
            label="Confirm operation*"
            validate-on-blur
            required
            autofocus
          />
        </v-card-text>

        <v-card-actions>
          <v-spacer />

          <v-btn color="disabled" text @click="cancel">
            Cancel
          </v-btn>

          <v-btn color="primary darken-1" autofocus text @click="submit">
            Confirm
          </v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: {
    visible: Boolean,
    operationName: String,
    operationHandler: Function,
  },
  data() {
    return {
      confirm: '',
    }
  },
  computed: {
    confirmRules() {
      return {
        required: (v) => !!v || 'You must confirm the operation.',
        match: (v) =>
          v === this.operationName ||
          `Type "${this.operationName}" to confirm.`,
      }
    },
    show: {
      get() {
        return this.visible
      },
      set(value) {
        if (!value) {
          this.$emit('close')
        }
      },
    },
  },
  methods: {
    cancel() {
      this.$refs.confirmForm.reset()
      this.show = false
    },
    submit() {
      if (this.$refs.confirmForm.validate()) {
        this.cancel()
        this.operationHandler()
      }
    },
  },
}
</script>
