<template>
  <v-dialog v-model="show" max-width="500">
    <v-card>
      <v-card-title class="headline">Are you sure to logout ?</v-card-title>

      <v-card-text>
        We will be pleased to see you soon on Woomind !
      </v-card-text>

      <v-card-actions>
        <v-spacer />

        <v-btn color="disabled" text @click="show = false">
          Cancel
        </v-btn>

        <v-btn color="primary darken-1" autofocus text @click="logout">
          Logout
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: {
    visible: Boolean,
  },
  computed: {
    show: {
      get() {
        return this.visible
      },
      set(value) {
        if (!value) {
          this.$emit('close')
        }
      },
    },
  },
  methods: {
    async logout() {
      await this.$auth.logout()
      this.$notifier.showMessage({
        message: 'See you soon on WooMind',
      })
    },
  },
}
</script>
