<template>
  <v-menu offset-y>
    <template v-slot:activator="{ on }">
      <v-btn
        icon
        color="grey darken-1"
        class="btn-flag ma-0"
        :loading="loading"
        :disabled="disabled"
        v-on="on"
      >
        <v-icon>mdi-dots-vertical</v-icon>

        <template v-slot:loader>
          <v-progress-circular
            indeterminate
            width="3"
            size="36"
            color="light-blue"
          />
        </template>
      </v-btn>
    </template>
    <v-list>
      <v-list-item key="edit" @click="edit">
        <v-list-item-title>
          <v-icon>mdi-pencil</v-icon><span class="mx-2">Edit</span>
        </v-list-item-title>
      </v-list-item>
      <v-list-item key="remove" @click="remove">
        <v-list-item-title>
          <v-icon>mdi-delete</v-icon><span class="mx-2">Delete</span>
        </v-list-item-title>
      </v-list-item>
    </v-list>
  </v-menu>
</template>

<style scoped>
.btn-flag.v-btn--loading >>> .v-btn__content {
  opacity: 1 !important;
}
</style>

<script>
export default {
  props: {
    bookmark: {
      type: Object,
      required: true
    }
  },
  computed: {
    operation() {
      return this.$store.state.bookmarks.operations[this.bookmark.bid]
    },
    disabled() {
      return !!this.operation
    },
    loading() {
      return this.operation === 'edit' || this.operation === 'remove'
    }
  },
  methods: {
    edit() {
      // Sets the bookmark for dialog.
      this.$store.commit('bookmarks/setDialog', {
        type: 'edit',
        bookmark: this.bookmark
      })
    },
    remove() {
      // Sets the bookmark for dialog.
      this.$store.commit('bookmarks/setDialog', {
        type: 'remove',
        bookmark: this.bookmark
      })
    }
  }
}
</script>
