<template>
  <v-dialog
    :value="show"
    max-width="500"
    @keydown.esc="cancel()"
    @keydown.enter="remove()"
    @click:outside="cancel()"
  >
    <v-card>
      <v-card-title class="headline"
        >Are you sure you want to delete this item ?</v-card-title
      >

      <v-card-text>
        <span class="font-weight-bold font-italic">{{ getTitle }}</span> will be
        permanently deleted.
      </v-card-text>

      <v-card-actions>
        <v-spacer />
        <v-btn color="disabled" text @click="show = false">
          Cancel
        </v-btn>

        <v-btn color="primary darken-1" text autofocus @click="remove">
          Delete
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  computed: {
    bookmark() {
      return this.$store.state.bookmarks.dialog.bookmark
    },
    show: {
      get() {
        return this.$store.state.bookmarks.dialog.type === 'remove'
      },
      set(value) {
        if (!value) {
          this.cancel()
        }
      }
    },
    getTitle() {
      return this.bookmark ? this.bookmark.title : ''
    }
  },
  methods: {
    remove() {
      this.$store.dispatch('bookmarks/remove', this.bookmark)
      this.cancel()
    },
    cancel() {
      this.$store.commit('bookmarks/cancelDialog')
    }
  }
}
</script>
