<template>
  <v-dialog
    :value="show"
    max-width="500"
    @keydown.esc="cancel()"
    @click:outside="cancel()"
  >
    <v-card>
      <v-card-title class="headline">Add new bookmark</v-card-title>

      <v-form ref="createBookmarkForm" @submit.prevent="create()">
        <v-card-text>
          <v-text-field
            v-model="url"
            :rules="[urlRules.required, urlRules.format]"
            label="Bookmark URL*"
            prepend-icon="mdi-link"
            validate-on-blur
            autofocus
            required
          />
        </v-card-text>

        <v-card-actions>
          <v-spacer />

          <v-btn color="disabled" text @click="show = false">
            Cancel
          </v-btn>

          <v-btn color="primary" text autofocus @click="create">
            Create
          </v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  data() {
    return {
      url: '',
      urlRules: {
        required: (v) => !!v || 'Bookmark URL cannot be empty.',
        valid: (v) =>
          /^https?:\/\//i.test(v) ||
          'Bookmark URL must start with http:// or https://.',
        format: (v) => {
          const pattern = new RegExp(
            '^(https?:\\/\\/)' + // protocol
            '((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|' + // domain name
            '((\\d{1,3}\\.){3}\\d{1,3}))' + // OR ip (v4) address
            '(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*' + // port and path
            '(\\?[;&a-z\\d%_.~+=-]*)?' + // query string
              '(\\#[-a-z\\d_]*)?$',
            'i'
          ) // fragment locator
          return pattern.test(v) || 'Bookmark URL is not a valid URL.'
        }
      }
    }
  },
  computed: {
    show: {
      get() {
        return this.$store.state.bookmarks.dialog.type === 'create'
      },
      set(value) {
        if (!value) {
          this.cancel()
        }
      }
    }
  },
  methods: {
    create() {
      this.blurChildren('createBookmarkForm')
      if (this.$refs.createBookmarkForm.validate()) {
        this.$store.dispatch('bookmarks/create', {
          url: this.url
        })
        this.cancel()
      }
    },
    cancel() {
      this.$refs.createBookmarkForm.reset()
      this.$store.commit('bookmarks/cancelDialog')
    },
    blurChildren(ref) {
      this.$refs[ref].$children.forEach((item) => {
        if (typeof item.blur === 'function') {
          item.blur()
        }
      })
    }
  }
}
</script>
