<template>
  <v-dialog
    :value="show"
    max-width="500"
    @keydown.esc="cancel()"
    @click:outside="cancel()"
  >
    <v-card>
      <v-card-title class="headline">Edit bookmark</v-card-title>

      <v-form ref="editBookmarkForm" @submit.prevent="edit()">
        <v-card-text>
          <v-text-field
            v-model="title"
            :rules="[titleRules.required, titleRules.size]"
            label="Title*"
            hint="A meaningful title to help you find your bookmark."
            persistent-hint
            counter="255"
            validate-on-blur
            autofocus
            required
          />

          <!--v-text-field
            v-model="url"
            :rules="[urlRules.required, urlRules.valid, urlRules.format]"
            label="Bookmark URL*"
            validate-on-blur
            required
          /-->

          <v-textarea
            v-model="description"
            :rules="[descriptionRules.size]"
            label="Description*"
            hint="A meaningful
          description text to help you remember the content of this bookmark."
            counter="300"
            roweight="24"
            rows="1"
            persistent-hint
            validate-on-blur
            auto-grow
          />

          <v-combobox
            v-model="tags"
            :rules="[tagsRules.size, tagsRules.max]"
            label="Tags"
            multiple
            append-icon
            chips
            deletable-chips
            class="tag-input"
          >
          </v-combobox>

          <v-row justify="space-around">
            <v-checkbox
              v-model="favorite"
              class="mx-2"
              label="Favorite"
              color="grey darken-1"
              on-icon="mdi-star"
              off-icon="mdi-star-outline"
            />
            <v-checkbox
              v-model="read_later"
              class="mx-2"
              label="Read later"
              color="grey darken-1"
              on-icon="mdi-clock"
              off-icon="mdi-clock-outline"
            />
            <v-checkbox
              v-model="archive"
              class="mx-2"
              label="Archive"
              color="grey darken-1"
              on-icon="mdi-archive-arrow-up"
              off-icon="mdi-archive-arrow-up-outline"
            />
          </v-row>
        </v-card-text>

        <v-card-actions>
          <v-spacer />

          <v-btn color="disabled" text @click="show = false">
            Cancel
          </v-btn>

          <v-btn color="primary" text autofocus @click="edit">
            edit
          </v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-dialog>
</template>

<script>
import mapFields from '../../../utils/mapFields'

export default {
  data() {
    return {
      titleRules: {
        required: (v) => !!v || 'Title cannot be empty.',
        size: (v) =>
          (!!v && v.length < 255) ||
          'Title cannot be longer than 255 characters.',
      },
      descriptionRules: {
        required: (v) => !!v || 'Description cannot be empty.',
        size: (v) =>
          !v ||
          v.length < 300 ||
          'Description cannot be longer than 300 characters.',
      },
      urlRules: {
        required: (v) => !!v || 'Bookmark URL cannot be empty.',
        valid: (v) =>
          /^https?:\/\//i.test(v) ||
          'Bookmark URL must start with http:// or https://.',
        format: (v) => {
          const pattern = new RegExp(
            '^(https?:\\/\\/)' + // protocol
            '((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|' + // domain name
            '((\\d{1,3}\\.){3}\\d{1,3}))' + // OR ip (v4) address
            '(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*' + // port and path
            '(\\?[;&a-z\\d%_.~+=-]*)?' + // query string
              '(\\#[-a-z\\d_]*)?$',
            'i'
          ) // fragment locator
          return pattern.test(v) || 'Bookmark URL is not a valid URL.'
        },
      },
      tagsRules: {
        max: (v) =>
          (!!v && v.length < 21) || 'The number of tags must not exceed 20',
        size: (v) =>
          (!!v && v.reduce((acc, t) => acc && t.length < 25, true)) ||
          'Each tag cannot exceed 25 characters.',
      },
    }
  },
  computed: {
    ...mapFields(['title', 'url', 'description']),
    bookmark() {
      return (
        this.$store.state.bookmarks.dialog.bookmark || {
          title: '',
        }
      )
    },
    favorite: {
      get() {
        return this.bookmark.flags ? this.bookmark.flags.favorite : false
      },
      set(value) {
        this.$store.commit('bookmarks/setDialog', {
          type: 'edit',
          bookmark: {
            ...this.bookmark,
            flags: { ...this.bookmark.flags, favorite: value },
          },
        })
      },
    },
    read_later: {
      get() {
        return this.bookmark.flags ? this.bookmark.flags.read_later : false
      },
      set(value) {
        this.$store.commit('bookmarks/setDialog', {
          type: 'edit',
          bookmark: {
            ...this.bookmark,
            flags: { ...this.bookmark.flags, read_later: value },
          },
        })
      },
    },
    archive: {
      get() {
        return this.bookmark.flags ? this.bookmark.flags.archive : false
      },
      set(value) {
        this.$store.commit('bookmarks/setDialog', {
          type: 'edit',
          bookmark: {
            ...this.bookmark,
            flags: { ...this.bookmark.flags, archive: value },
          },
        })
      },
    },
    tags: {
      get() {
        return this.bookmark.tags
      },
      set(value) {
        const tags = this.filterTags(value)
        this.$store.commit('bookmarks/setDialog', {
          type: 'edit',
          bookmark: { ...this.bookmark, tags },
        })
      },
    },
    show: {
      get() {
        return this.$store.state.bookmarks.dialog.type === 'edit'
      },
      set(value) {
        if (!value) {
          this.cancel()
        }
      },
    },
  },
  methods: {
    edit() {
      this.blurChildren('editBookmarkForm')
      if (this.$refs.editBookmarkForm.validate()) {
        this.$store.dispatch('bookmarks/update', {
          bid: this.bookmark.bid,
          payload: {
            title: this.title,
            // url: this.url,
            description: this.description,
            tags: this.tags,
            flags: {
              favorite: this.favorite,
              read_later: this.read_later,
              archive: this.archive,
            },
          },
          operation: 'edit',
        })
        this.cancel()
      }
    },
    cancel() {
      this.$refs.editBookmarkForm.resetValidation()
      this.$store.commit('bookmarks/cancelDialog')
    },
    blurChildren(ref) {
      this.$refs[ref].$children.forEach((item) => {
        if (typeof item.blur === 'function') {
          item.blur()
        }
      })
    },
    filterTags(tags) {
      const sanitized = tags.map((e) => e.toLowerCase().trim())
      return sanitized.filter(
        (value, index) => !!value && sanitized.indexOf(value) === index
      )
    },
  },
}
</script>
